body {
background-image: url("../images/concrete_seamless/concrete_seamless.png");
font-size: 100%;
width: auto;
overflow: auto;
}

h1{
	font-size: 2.5em;
	font-weight: bold;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2{
	font-size: 1.5em;
	font-weight: bold;
	color: #4aaaa5;
	overflow: auto;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#headerline{
	background-color: #ffffff;
	margin: 0;
	width: auto;
	height: 100px;
	border-bottom: 2px solid #cccccc;
	margin:auto;
}

#headerdiv{
	background-color: #ffffff;
	margin: auto;
	width:960px;
	height: 100px;
	
}

#header{
	position: relative;
	margin: 0;
	float:left;
	width:278px;
	height: 100px;
	padding: ;	
	color:#ffffff;
	background-color: #4aaaa5;
	text-align: center;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#headertext{
	padding: 30px 0;
}


#navbox{
	position: relative;
	width: 270px;
	height: 100px;
	float: right;
}
}

nav{
	height: 100px;

}

#nav{
	
	background-color: #ffffff;
	position: relative;
	top: 40%;
	width: 270px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-decoration: none;
}

nav > a{
	padding: 0px 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-decoration: none;
	font-size: 1.2em;
	color:#777777;
	float: right;
}

#midnav{
	border-right: 1px solid #dddddd;
	border-left:1px solid #dddddd;
}

#container{
	position: relative;
	margin: auto;
	top:44px;
	width: 960px;
}

.clearfix {
  overflow: auto;
}

#resize{
	width: auto;
	height: 200px;
	float: left;
	padding-right: 15px;
}





#mainbiocontainer{
	position: relative;
	width: 650px;
	height: 530px;
	background-color: #ffffff;
	float:left;
	border:1px solid #dddddd;

}

#about{
	color: #4aaaa5;
	padding: 30px 30px;

}

#mainbio{
	margin: 0px 30px;
	padding:30px 0px;
	border-top: 3px solid #dddddd;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 150%;
	font-size: 1.2em;

}

#aside{
	position: absolute;
	right: 0;
	width:270px;
	background-color: #ffffff;
	height: 180px;
	border:1px solid #dddddd;

}

.box1{
	padding: 20px 0px 20px 20px;
	float: top;
}

.resize{
	height: 64px;
	width: auto;
	color: #4aaaa5;
}

.box2{
	border-top: 1px solid #dddddd;
	margin: 0px 20px;
	padding: 20px 0px;
}

.picpadding{
	margin-right: 10px;
}